$elle-success: #28a745;


.elle-checkbox {
  display: none !important;
  &:not(:checked) {
    + .elle-target {
      display: none !important;
    }
  }
}

.elle-switcher {
  .elle-radio {
    display: none;
  }
  @for $i from 1 through 10 {
    .elle-radio[data-nth="#{$i}"]:not(:checked) ~ .elle-target[data-nth="#{$i}"] {
      display: none !important;
    }
  }
}

.style-elle-btn {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  background: $elle-success;
  border: 1px solid darken($elle-success, 10%);
  cursor: pointer;
}